.vue-switch {
    input {
        display: none;
    }

    .control-switch {
        background-color: $border;
        border: 1px solid $border;

        &:before {
            background-color: $grey-light;
        }

        &:after {
            background-color: #fff;
            box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1);
        }

        &.checked {
            border-color: $text;
            background-color: $text;
        }
    }

    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        &.is-#{$name} {
            .control-switch.checked {
                border-color: $color;
                background-color: $color;

                &.disabled {
                    border-color: lighten($color, 25%);
                    background-color: lighten($color, 25%);
                    cursor: not-allowed;
                }
            }
        }
    }
}
